# Découverte du dataset

In [2]:
import pandas as pd
import sqlite3

df = pd.read_csv('academy_awards.csv', encoding= 'ISO-8859-1')
df.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape #renvoie la taille du tableau

(10137, 11)

# Filtrer les données

In [4]:
df['Year'].value_counts()

1941 (14th)      192
1942 (15th)      190
1943 (16th)      188
1944 (17th)      181
1945 (18th)      163
                ...
1930/31 (4th)     50
1931/32 (5th)     47
1929/30 (3rd)     42
1927/28 (1st)     39
1928/29 (2nd)     38
Name: Year, Length: 83, dtype: int64

In [5]:
df['Year']= df['Year'].str[0:4]

In [6]:
df['Year'].dtypes

dtype('O')

In [7]:
#convertir Year en int64
df['Year'] = df['Year'].astype(int)

In [9]:
df['Year'].dtypes

dtype('int32')

In [10]:
#Afficher les dates après 2000
later_than_2000= df[df['Year']>2000]
later_than_2000.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
later_than_2000.shape

(1294, 11)

In [13]:
# Actor -- Leading Role
# Actor -- Supporting Role
# Actress -- Leading Role
# Actress -- Supporting Role

award_categories = ['Actor -- Leading Role', 'Actor -- Supporting Role','Actress -- Leading Role','Actress -- Supporting Role']

In [15]:
nominations = later_than_2000[later_than_2000['Category'].isin(award_categories)]

In [16]:
nominations.shape

(200, 11)

# Nettoyer les colonnes Unnamed et Won?

In [17]:
remplacements = {"NO": 0, "YES":1}

In [18]:
nominations['Won?']= nominations['Won?'].map(remplacements)

C:\Users\33758\AppData\Local\Temp\ipykernel_19508\1640052819.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nominations['Won?']= nominations['Won?'].map(remplacements)

In [19]:
nominations['Won']= nominations['Won?']

C:\Users\33758\AppData\Local\Temp\ipykernel_19508\2507963904.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nominations['Won']= nominations['Won?']

In [20]:
nominations.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,NaN,NaN,NaN,NaN,NaN,NaN,1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,NaN,NaN,NaN,NaN,NaN,NaN,0

In [21]:
drop_cols= ["Won?", "Unnamed: 5","Unnamed: 6","Unnamed: 7","Unnamed: 8","Unnamed: 9","Unnamed: 10"]

In [22]:
final_nominations= nominations.drop(drop_cols, axis=1)

In [23]:
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0

# Nettoyage de la colonne Additionnal info

In [24]:
# FILM {'PERSONNAGE'}

In [26]:
# remove any trailing characters (supprimer tous les caractères de fin)
additional_info_one= final_nominations['Additional Info'].str.rstrip("'}")

In [27]:
additional_info_one.head()

0                        Biutiful {'Uxbal
1             True Grit {'Rooster Cogburn
2    The Social Network {'Mark Zuckerberg
3      The King's Speech {'King George VI
4                127 Hours {'Aron Ralston
Name: Additional Info, dtype: object

In [28]:
# diviser une chaîne en une liste
additional_info_two= additional_info_one.str.split(" {'",expand= True)

In [29]:
additional_info_two.head()

                    0                1
0            Biutiful            Uxbal
1           True Grit  Rooster Cogburn
2  The Social Network  Mark Zuckerberg
3   The King's Speech   King George VI
4           127 Hours     Aron Ralston

In [30]:
movie_names = additional_info_two[0]

In [31]:
movie_names.head()

0              Biutiful
1             True Grit
2    The Social Network
3     The King's Speech
4             127 Hours
Name: 0, dtype: object

In [32]:
characters= additional_info_two[1]

In [33]:
characters.head()

0              Uxbal
1    Rooster Cogburn
2    Mark Zuckerberg
3     King George VI
4       Aron Ralston
Name: 1, dtype: object

In [34]:
final_nominations['Movie']= movie_names
final_nominations['Character']= characters
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,127 Hours,Aron Ralston

In [35]:
final_nominations.drop(['Additional Info'],axis=1, inplace= True)
final_nominations.head()

,Year,Category,Nominee,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,0,127 Hours,Aron Ralston

# Exporter vesr SQLite

In [36]:
# to_sql(name, connexion)

In [37]:
final_nominations.dtypes

Year          int32
Category     object
Nominee      object
Won           int64
Movie        object
Character    object
dtype: object

In [41]:
connexion = sqlite3.connect('nominations.db')

In [45]:
final_nominations.to_sql('nominations',connexion, if_exists= 'replace', index= False)

200